@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bitter:wght@200&family=Lobster&display=swap');

 body {
    /* background: rgb(227,71,148);
    background: linear-gradient(90deg, rgba(227,71,148,1) 0%, rgba(235,127,168,1) 47%, rgba(176,156,255,1) 100%); */
    background: rgb(231, 161, 192);
    background: radial-gradient(circle, rgb(231, 161, 192) 10%, rgba(148,187,233,1) 90%);
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
 }

 .main {
    padding-left: 50px;
    padding-right: 50px;
 }

#title {
    color: #fff;
    font-family:'Arvo', serif;
}

.svg-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    width: 100%;
    margin: auto;
    //padding: 0px 50px 0 50px;
    //overflow: hidden;
    // background-color: antiquewhite;

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        // background-color: #fff;
    }
}

