.task__progress__card{
    background-color: thistle;
    display: flex;
    padding: 1rem;
    margin: auto;
    width: 70%;
    border-radius:15px;
    border: 1px solid #fff;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .info__group {
        width: 30%;
    }

    .info__chart {
        width: 70%;
    }
}