.task__progress__card{
    position: relative;
    background-color: rgba(238, 214, 238, 0.1 );
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    width: 500px;
    border-radius:15px;
    // align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.2);
    border-top: 1.5px solid rgba(255,255,255,0.5); 
    border-left: 1.5px solid rgba(255,255,255,0.5); 
    backdrop-filter: blur(5px );
    transition: 0.5s;
    height: 250px;
    margin-bottom: 5rem;

    .header{
        position: absolute;
        bottom: -10px;
        left: 10px;
        font-size: 1.25rem;
        color: rgba(255,255,255,0.2);
        pointer-events: none;
        transform: translateY(0);
        transition: 
            transform ease-in 1s,
            font-size ease-in 1s;
    }

    .content {
        display: inline-flex;
        text-align: center;
        // transform: translateY(100px);
        opacity: 1;
        //transition: 0.5s;
    }

    .info__group {
        margin-left: 0.5em;
        text-align: left;
        width: 40%;
        transform: translateY(0);
        font-size: 1rem;
        // transform: translateY(0);
        transition: 
            transform ease-in 1s,
            font-size ease-in 1s;

        h3 {
            color: rgba(80, 80, 80, 0.657);
        }

       
        // background-color: aliceblue;
    }

    

    .info__chart {
        position: relative;
        top: 0;
        transition: all ease-in-out 1s;
        
        .info__chart__img{
            margin: auto;
            margin-right: 0.5rem;
        }

        // .info__chart__img::before {
        //     content: ' ';
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgb(172, 36, 172);
        // }
    }

    

    .info__chart::after {
        position: absolute;
        transform: translateX(50%);
        content: ' ';
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 2px;
        display:flex;
        margin-top: 1rem;
        background-color: rgba(226, 170, 201, 0.899);
        transition: all ease-in-out 1s;

    }

}

.task__progress__card:hover {

    .header {
        font-size:1rem;
        transform: translateY(5);
    }

    .info__group {
        font-size: 1.2rem;
        transform: translateY(10);
    }

    .info__chart{
        transform: scale(0.85);
        top: 0;
    }

    .info__chart::after {
        opacity: 0;
    }

    


}

// .task__progress__card:hover {
//     transform: rotateY(2deg);
//     .content{
//         transform: translateY(0px);
//         opacity: 1;
//     }
// }