.task__item {
    background-color: #ffdeb2;
   
    border-radius: 5px;

    .title-line {
        width: 100%;
        border-top: 0.5px solid rgb(200, 7, 7);
        height: 2px;
        border-bottom: 0.5px solid rgb(200, 7, 7);


    }

    .blue-line {
        border-bottom: 0.2px solid blue;
    }
}