button {
    background: none;
    border: none;
   
    
}

.add__task__card__container {
    width:70%;
    background-color: #f37ea5;
    margin:auto;
    padding: 1rem;
    border-radius:15px;
    color: #fff;
    font-family: 'Bitter', serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    // box-shadow: 0 0 10px 0 rgb(85, 80, 75);

    .add__task__card__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 2rem;

        button {
            svg {
                fill: #fff;
                cursor: pointer;
            }
        }
        

        
    }

    .add__task__card__body {
        width: 100%;
        font-size: 1.25rem;
        

        button {
            display: inline;
            float: right;
            margin-bottom: 1rem;

            svg {
                fill: #fff;
                cursor: pointer;
            }
        }

        form {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

           
    
            .form-fields {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                
        
                .form-group {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0.75rem;

                    label {
                        font-size: 1rem;
                    }
                   
                    input {
                        height: 30px;
                        margin-top: 0.5rem;
                        font-size: 1.25rem;
                        padding: 0.25rem;
                    }
    
                    select {
                        height: 40px;
                        margin-top: 0.5rem;
                        font-size: 1rem;
                        font-size: 1rem;

                        
                        option {
                            font-size: 1rem;
                        }
                    }
                    
                }

                #add-task-button {
                    cursor: pointer;
                    margin-top: 2rem;
                    height: 40px;
                    width: 20%;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    background-color: #f06f9a;
                    border: none;
                    font-size: 1rem;
                    color: #fff;
                    border-radius:15px;

                    border: 1px solid #fff;
                    
            }
            }
    
        }

    }


    

    
}