.modal {
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    border: 1px solid #fff;
    box-shadow: rgba(28, 27, 34, 0.39) 0px 48px 100px 0px;
    padding: 1rem;
    width: 70%;
    height: 150px;
    color: #000;
    background-color: #e9618e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;

    button {
        background: none;
        border: none;

        svg {
            fill: #fff;
            cursor: pointer;
        }
    }

    .form__group {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem;

        input {
            height: 30px;
            margin-top: 0.5rem;
            font-size: 1.25rem;
            padding: 0.25rem;
        }
    }
}


