
.task__list__container{
    max-width: 70%;
    margin: auto;
    margin-top:5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    grid-auto-rows: minmax(min-content, max-content);
}
