@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
 
 body {
     background-color: #eb7fa8;
     font-family: 'Ubuntu', sans-serif;

 }

#title {
    color: #fff;
}

.svg-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}