@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
 
 body {
    /* background: rgb(227,71,148);
    background: linear-gradient(90deg, rgba(227,71,148,1) 0%, rgba(235,127,168,1) 47%, rgba(176,156,255,1) 100%); */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
     font-family: 'Ubuntu', sans-serif;

 }

#title {
    color: #fff;
}

.svg-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}